;;; -*- mode: emacs-lisp -*-

(setq user-full-name "Jon Doe"
      user-mail-address "jon.doe@mail.com"
      user-mail-addresses (cons user-mail-address
                                '("some@other.com"
                                  "mail@addresses.com"))
      user-init-file "~/emacs-config/init.el"
      ;; user-emacs-directory "~/emacs-config/site-lisp"
      )

(load user-init-file)