[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = https://github.com/emacsmirror/paredit.git
	ignore = dirty
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
	ignore = dirty
[submodule "site-lisp/mo-git-blame"]
	path = site-lisp/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
	ignore = dirty
[submodule "site-lisp/magithub"]
	path = site-lisp/magithub
	url = https://github.com/nex3/magithub.git
	ignore = dirty
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
	ignore = dirty
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
	ignore = dirty
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
	ignore = dirty
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
	ignore = dirty
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = https://github.com/smihica/zencoding.git
	ignore = dirty
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
	ignore = dirty
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
	ignore = dirty
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
	ignore = dirty
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
	ignore = dirty
[submodule "site-lisp/twittering-mode"]
	path = site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
	ignore = dirty
[submodule "site-lisp/theme-solarized"]
	path = site-lisp/theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
	ignore = dirty
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
	ignore = dirty
[submodule "site-lisp/w3m"]
	path = site-lisp/w3m
	url = https://github.com/emacsmirror/w3m.git
	ignore = dirty
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
	ignore = dirty
[submodule "site-lisp/sibilantjs"]
	path = site-lisp/sibilantjs
	url = https://github.com/jbr/sibilant.git
	ignore = dirty
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/emacsmirror/slime.git
	ignore = dirty
[submodule "site-lisp/mu"]
	path = site-lisp/mu
	url = https://github.com/djcb/mu.git
	ignore = dirty
[submodule "site-lisp/annot"]
	path = site-lisp/annot
	url = https://github.com/emacsmirror/annot.git
	ignore = dirty
[submodule "site-lisp/diminish"]
	path = site-lisp/diminish
	url = https://github.com/emacsmirror/diminish.git
	ignore = dirty
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
	ignore = dirty
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
	ignore = dirty
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
	ignore = dirty
[submodule "site-lisp/fuzzy-el"]
	path = site-lisp/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
	ignore = dirty
[submodule "site-lisp/sr-speedbar"]
	path = site-lisp/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
	ignore = dirty
[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = http://git.sv.gnu.org/r/emms.git
	ignore = dirty
[submodule "site-lisp/ac-slime"]
	path = site-lisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
	ignore = dirty
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
	ignore = dirty
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
	ignore = dirty
[submodule "site-lisp/theme-tomorrow"]
	path = site-lisp/theme-tomorrow
	url = https://github.com/chriskempson/tomorrow-theme.git
	ignore = dirty
[submodule "site-lisp/sunrise-commander"]
	path = site-lisp/sunrise-commander
	url = https://github.com/escherdragon/sunrise-commander.git
	ignore = dirty
[submodule "site-lisp/bitlbee"]
	path = site-lisp/bitlbee
	url = https://github.com/pjones/elisp.git
	ignore = dirty
[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = https://github.com/defunkt/gist.el.git
	ignore = dirty
[submodule "site-lisp/gh.el"]
	path = site-lisp/gh.el
	url = https://github.com/sigma/gh.el.git
	ignore = dirty
[submodule "site-lisp/pcache"]
	path = site-lisp/pcache
	url = https://github.com/sigma/pcache.git
	ignore = dirty
[submodule "site-lisp/logito"]
	path = site-lisp/logito
	url = https://github.com/sigma/logito.git
	ignore = dirty
[submodule "site-lisp/nodejs-mode"]
	path = site-lisp/nodejs-mode
	url = https://github.com/abicky/nodejs-mode.el.git
	ignore = dirty
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = https://github.com/swank-js/swank-js.git
	ignore = dirty
[submodule "site-lisp/ess"]
	path = site-lisp/ess
	url = https://github.com/emacs-ess/ESS.git
	ignore = dirty
[submodule "site-lisp/haml-mode"]
	path = site-lisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
	ignore = dirty
[submodule "site-lisp/sass-mode"]
	path = site-lisp/sass-mode
	url = https://github.com/nex3/sass-mode.git
	ignore = dirty
[submodule "site-lisp/scss-mode"]
	path = site-lisp/scss-mode
	url = https://github.com/antonj/scss-mode/
	ignore = dirty
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
	ignore = dirty
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
	ignore = dirty
[submodule "site-lisp/golden-ratio.el"]
	path = site-lisp/golden-ratio.el
	url = https://github.com/roman/golden-ratio.el.git
	ignore = dirty
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el
	ignore = dirty
[submodule "site-lisp/cedet"]
	path = site-lisp/cedet
	url = https://github.com/emacsmirror/cedet.git
	ignore = dirty
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
	ignore = dirty
[submodule "site-lisp/nrepl"]
	path = site-lisp/nrepl
	url = https://github.com/kingtim/nrepl.el.git
	ignore = dirty
[submodule "site-lisp/est.el"]
	path = site-lisp/est.el
	url = https://github.com/anthracite/est.el.git
	ignore = dirty
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
	ignore = dirty
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
	ignore = dirty
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
	ignore = dirty
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = https://github.com/magnars/s.el
	ignore = dirty
[submodule "site-lisp/elnode"]
	path = site-lisp/elnode
	url = https://github.com/nicferrier/elnode.git
	ignore = dirty
[submodule "site-lisp/emacs-fakir"]
	path = site-lisp/emacs-fakir
	url = https://github.com/nicferrier/emacs-fakir.git
	ignore = dirty
[submodule "site-lisp/emacs-kv"]
	path = site-lisp/emacs-kv
	url = https://github.com/nicferrier/emacs-kv.git
	ignore = dirty
[submodule "site-lisp/emacs-web"]
	path = site-lisp/emacs-web
	url = https://github.com/nicferrier/emacs-web.git
	ignore = dirty
[submodule "site-lisp/emacs-db"]
	path = site-lisp/emacs-db
	url = https://github.com/nicferrier/emacs-db.git
	ignore = dirty
[submodule "site-lisp/esxml"]
	path = site-lisp/esxml
	url = https://github.com/tali713/esxml.git
	ignore = dirty
[submodule "site-lisp/elwikicreole"]
	path = site-lisp/elwikicreole
	url = https://github.com/nicferrier/elwikicreole.git
	ignore = dirty
[submodule "site-lisp/emacs-uuid"]
	path = site-lisp/emacs-uuid
	url = https://github.com/nicferrier/emacs-uuid.git
	ignore = dirty
[submodule "site-lisp/emacs-oauth"]
	path = site-lisp/emacs-oauth
	url = https://github.com/psanford/emacs-oauth.git
	ignore = dirty
[submodule "site-lisp/deft"]
	path = site-lisp/deft
	url = git://jblevins.org/git/deft.git
	ignore = dirty
[submodule "site-lisp/emacs-calfw"]
	path = site-lisp/emacs-calfw
	url = https://github.com/kiwanami/emacs-calfw.git
	ignore = dirty
[submodule "site-lisp/emacs-git-gutter"]
	path = site-lisp/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
	ignore = dirty
[submodule "site-lisp/anaphora"]
	path = site-lisp/anaphora
	url = https://github.com/rolandwalker/anaphora.git
	ignore = dirty
[submodule "site-lisp/dart-mode"]
	path = site-lisp/dart-mode
	url = https://github.com/nex3/dart-mode.git
	ignore = dirty
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
	ignore = dirty
[submodule "site-lisp/tagedit"]
	path = site-lisp/tagedit
	url = https://github.com/magnars/tagedit.git
	ignore = dirty
[submodule "site-lisp/gocode"]
	path = site-lisp/gocode
	url = https://github.com/nsf/gocode.git
	ignore = dirty
[submodule "site-lisp/redshank"]
	path = site-lisp/redshank
	url = http://www.foldr.org/~michaelw/projects/redshank.git
	ignore = dirty
[submodule "site-lisp/outshine"]
	path = site-lisp/outshine
	url = https://github.com/tj64/outshine.git
	ignore = dirty
[submodule "site-lisp/keyinfo"]
	path = site-lisp/keyinfo
	url = https://github.com/tj64/keyinfo.git
	ignore = dirty
[submodule "site-lisp/smartparens"]
	path = site-lisp/smartparens
	url = https://github.com/Fuco1/smartparens.git
	ignore = dirty
[submodule "site-lisp/visual-regexp.el"]
	path = site-lisp/visual-regexp.el
	url = https://github.com/benma/visual-regexp.el.git
	ignore = dirty
[submodule "site-lisp/visual-regexp-steroids.el"]
	path = site-lisp/visual-regexp-steroids.el
	url = https://github.com/benma/visual-regexp-steroids.el.git
	ignore = dirty
[submodule "site-lisp/zenburn-emacs"]
	path = site-lisp/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
	ignore = dirty
[submodule "site-lisp/litable"]
	path = site-lisp/litable
	url = https://github.com/Fuco1/litable.git
	ignore = dirty
[submodule "site-lisp/lispyscript-mode"]
	path = site-lisp/lispyscript-mode
	url = https://github.com/krisajenkins/lispyscript-mode.git
	ignore = dirty
[submodule "site-lisp/auctex"]
	path = site-lisp/auctex
	url = git://git.sv.gnu.org/auctex.git
	ignore = dirty
[submodule "site-lisp/Saxxy"]
	path = site-lisp/Saxxy
	url = https://github.com/konr/Saaxy.git
	ignore = dirty
[submodule "site-lisp/tomatinho"]
	path = site-lisp/tomatinho
	url = https://github.com/konr/tomatinho.git
	ignore = dirty
[submodule "site-lisp/ack-and-a-half"]
	path = site-lisp/ack-and-a-half
	url = https://github.com/emacsmirror/ack-and-a-half
	ignore = dirty
[submodule "site-lisp/ack-el"]
	path = site-lisp/ack-el
	url = https://github.com/leoliu/ack-el.git
	ignore = dirty
[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = https://github.com/eschulte/rinari.git
	ignore = dirty
[submodule "site-lisp/inf-ruby"]
	path = site-lisp/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby.git
	ignore = dirty
[submodule "site-lisp/jump.el"]
	path = site-lisp/jump.el
	url = https://github.com/eschulte/jump.el.git
	ignore = dirty
[submodule "site-lisp/ert"]
	path = site-lisp/ert
	url = https://github.com/nex3/ert.git
	ignore = dirty
[submodule "site-lisp/org-trello"]
	path = site-lisp/org-trello
	url = https://github.com/ardumont/org-trello.git
	ignore = dirty
[submodule "site-lisp/emacs-request"]
	path = site-lisp/emacs-request
	url = https://github.com/tkf/emacs-request.git
	ignore = dirty
[submodule "site-lisp/emacs-slim"]
	path = site-lisp/emacs-slim
	url = https://github.com/slim-template/emacs-slim.git
	ignore = dirty
[submodule "site-lisp/sentence-highlight"]
	path = site-lisp/sentence-highlight
	url = https://github.com/emacsmirror/sentence-highlight.git
	ignore = dirty
[submodule "site-lisp/highlight-indentation"]
	path = site-lisp/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
	ignore = dirty
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
	ignore = dirty
[submodule "site-lisp/emacs-noflet"]
	path = site-lisp/emacs-noflet
	url = https://github.com/nicferrier/emacs-noflet.git
	ignore = dirty
[submodule "site-lisp/elfeed"]
	path = site-lisp/elfeed
	url = https://github.com/skeeto/elfeed.git
	ignore = dirty
[submodule "site-lisp/emacs-anzu"]
	path = site-lisp/emacs-anzu
	url = https://github.com/syohex/emacs-anzu.git
	ignore = dirty
[submodule "site-lisp/pkg-info.el"]
	path = site-lisp/pkg-info.el
	url = https://github.com/lunaryorn/pkg-info.el.git
	ignore = dirty
[submodule "site-lisp/f.el"]
	path = site-lisp/f.el
	url = https://github.com/rejeep/f.el.git
	ignore = dirty
[submodule "site-lisp/dash-at-point"]
	path = site-lisp/dash-at-point
	url = https://github.com/stanaka/dash-at-point.git
	ignore = dirty
[submodule "site-lisp/project-explorer"]
	path = site-lisp/project-explorer
	url = https://github.com/sabof/project-explorer.git
	ignore = dirty
[submodule "site-lisp/es-lib"]
	path = site-lisp/es-lib
	url = https://github.com/sabof/es-lib.git
	ignore = dirty
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = https://github.com/magit/git-modes.git
	ignore = dirty
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = https://github.com/cask/epl.git
	ignore = dirty
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
	ignore = dirty
[submodule "site-lisp/google-contacts.el"]
	path = site-lisp/google-contacts.el
	url = https://github.com/jd/google-contacts.el.git
	ignore = dirty
[submodule "site-lisp/offlineimap-el"]
	path = site-lisp/offlineimap-el
	url = https://github.com/jd/offlineimap.el.git
	ignore = dirty
[submodule "site-lisp/notmuch"]
	path = site-lisp/notmuch
	url = git://notmuchmail.org/git/notmuch
	ignore = dirty
[submodule "site-lisp/cider"]
	path = site-lisp/cider
	url = https://github.com/clojure-emacs/cider.git
	ignore = dirty
[submodule "site-lisp/emacs-maildir"]
	path = site-lisp/emacs-maildir
	url = https://github.com/nicferrier/emacs-maildir.git
	ignore = dirty
[submodule "site-lisp/httprepl.el"]
	path = site-lisp/httprepl.el
	url = https://github.com/gregsexton/httprepl.el.git
	ignore = dirty
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
	ignore = dirty
[submodule "site-lisp/helm-mu"]
	path = site-lisp/helm-mu
	url = https://github.com/emacs-helm/helm-mu.git
	ignore = dirty
[submodule "site-lisp/ensime"]
	path = site-lisp/ensime
	url = https://github.com/aemoncannon/ensime.git
	ignore = dirty
[submodule "site-lisp/clj-refactor.el"]
	path = site-lisp/clj-refactor.el
	url = https://github.com/magnars/clj-refactor.el.git
	ignore = dirty
[submodule "site-lisp/site-lisp/scala-mode2"]
	path = site-lisp/site-lisp/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
	ignore = dirty
[submodule "site-lisp/editorconfig"]
	path = site-lisp/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs.git
	ignore = dirty
[submodule "site-lisp/skewer-mode"]
	path = site-lisp/skewer-mode
	url = https://github.com/skeeto/skewer-mode.git
	ignore = dirty
[submodule "site-lisp/emacs-web-server"]
	path = site-lisp/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server.git
	ignore = dirty
[submodule "site-lisp/todotxt.el"]
	path = site-lisp/todotxt.el
	url = https://github.com/rpdillon/todotxt.el.git
	ignore = dirty
[submodule "site-lisp/todotxt-mode"]
	path = site-lisp/todotxt-mode
	url = https://github.com/avillafiorita/todotxt-mode
	ignore = dirty
[submodule "site-lisp/evernote-mode"]
	path = site-lisp/evernote-mode
	url = https://github.com/pymander/evernote-mode.git
	ignore = dirty
[submodule "site-lisp/god-mode"]
	path = site-lisp/god-mode
	url = https://github.com/chrisdone/god-mode.git
	ignore = dirty
[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = https://github.com/marijnh/tern.git
	ignore = dirty
[submodule "site-lisp/wanderlust"]
	path = site-lisp/wanderlust
	url = https://github.com/wanderlust/wanderlust.git
	ignore = dirty
[submodule "site-lisp/semi"]
	path = site-lisp/semi
	url = https://github.com/wanderlust/semi
	ignore = dirty
[submodule "site-lisp/flim"]
	path = site-lisp/flim
	url = https://github.com/wanderlust/flim
	ignore = dirty
[submodule "site-lisp/apel"]
	path = site-lisp/apel
	url = https://github.com/wanderlust/apel.git
	ignore = dirty
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
	ignore = dirty
[submodule "site-lisp/git-timemachine"]
	path = site-lisp/git-timemachine
	url = https://github.com/pidu/git-timemachine.git
	ignore = dirty
[submodule "site-lisp/upword-mode"]
	path = site-lisp/upword-mode
	url = https://github.com/martinbalfanz/upword-mode.git
	ignore = dirty
[submodule "site-lisp/eschulte-web-server"]
	path = site-lisp/eschulte-web-server
	url = https://github.com/eschulte/emacs-web-server.git
	ignore = dirty
[submodule "site-lisp/org-ehtml"]
	path = site-lisp/org-ehtml
	url = https://github.com/eschulte/org-ehtml.git
	ignore = dirty
[submodule "site-lisp/highlight-symbol"]
	path = site-lisp/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
	ignore = dirty
[submodule "site-lisp/highlight-defined"]
	path = site-lisp/highlight-defined
	url = https://github.com/Fanael/highlight-defined.git
	ignore = dirty
[submodule "site-lisp/color-identifiers-mode"]
	path = site-lisp/color-identifiers-mode
	url = https://github.com/ankurdave/color-identifiers-mode.git
	ignore = dirty
[submodule "site-lisp/highlight-parentheses"]
	path = site-lisp/highlight-parentheses
	url = https://github.com/nschum/highlight-parentheses.el.git
	ignore = dirty
[submodule "site-lisp/hl-sexp"]
	path = site-lisp/hl-sexp
	url = https://github.com/emacsmirror/hl-sexp.git
	ignore = dirty
[submodule "site-lisp/highlight-stages"]
	path = site-lisp/highlight-stages
	url = https://github.com/zk-phi/highlight-stages.git
	ignore = dirty
[submodule "site-lisp/rainbow-blocks"]
	path = site-lisp/rainbow-blocks
	url = https://github.com/istib/rainbow-blocks.git
	ignore = dirty
[submodule "site-lisp/paren-face"]
	path = site-lisp/paren-face
	url = https://github.com/tarsius/paren-face.git
	ignore = dirty
[submodule "site-lisp/highlight-escape-sequences"]
	path = site-lisp/highlight-escape-sequences
	url = https://github.com/dgutov/highlight-escape-sequences.git
	ignore = dirty
[submodule "site-lisp/highlight-numbers"]
	path = site-lisp/highlight-numbers
	url = https://github.com/Fanael/highlight-numbers.git
	ignore = dirty
[submodule "site-lisp/org-reveal"]
	path = site-lisp/org-reveal
	url = https://github.com/yjwen/org-reveal.git
	ignore = dirty
[submodule "site-lisp/go-mode.el"]
	path = site-lisp/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
	ignore = dirty
[submodule "site-lisp/sbt-mode"]
	path = site-lisp/sbt-mode
	url = https://github.com/hvesalai/sbt-mode.git
	ignore = dirty
[submodule "site-lisp/scala-mode2"]
	path = site-lisp/scala-mode2
	url = https://github.com/hvesalai/scala-mode2.git
	ignore = dirty
[submodule "site-lisp/outorg"]
	path = site-lisp/outorg
	url = https://github.com/tj64/outorg.git
	ignore = dirty
