[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/mo-git-blame"]
	path = site-lisp/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
[submodule "site-lisp/magithub"]
	path = site-lisp/magithub
	url = https://github.com/nex3/magithub.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
