*.elc
*~
.*.lock
/.Sync*
/.emacs-auth
/.emacs.desktop
/.session
/.smex-items
/ac-comphist.dat
/auto-save-list
/custom.el
/ditaa*.jar
/elpa
/history
/ido.last
/org-clock-save.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/tramp
\#*