[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = https://github.com/emacsmirror/paredit.git
	ignore = dirty
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
	ignore = dirty
[submodule "site-lisp/mo-git-blame"]
	path = site-lisp/mo-git-blame
	url = https://github.com/mbunkus/mo-git-blame.git
	ignore = dirty
[submodule "site-lisp/magithub"]
	path = site-lisp/magithub
	url = https://github.com/nex3/magithub.git
	ignore = dirty
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
	ignore = dirty
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
	ignore = dirty
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
	ignore = dirty
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
	ignore = dirty
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = https://github.com/rooney/zencoding.git
	ignore = dirty
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
	ignore = dirty
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
	ignore = dirty
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
	ignore = dirty
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
	ignore = dirty
[submodule "site-lisp/twittering-mode"]
	path = site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
	ignore = dirty
[submodule "site-lisp/theme-solarized"]
	path = site-lisp/theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
	ignore = dirty
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/emacs-helm/helm.git
	ignore = dirty
[submodule "site-lisp/w3m"]
	path = site-lisp/w3m
	url = https://github.com/emacsmirror/w3m.git
	ignore = dirty
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
	ignore = dirty
[submodule "site-lisp/sibilantjs"]
	path = site-lisp/sibilantjs
	url = https://github.com/jbr/sibilant.git
	ignore = dirty
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/emacsmirror/slime.git
	ignore = dirty
[submodule "site-lisp/mu"]
	path = site-lisp/mu
	url = https://github.com/djcb/mu.git
	ignore = dirty
[submodule "site-lisp/annot"]
	path = site-lisp/annot
	url = https://github.com/emacsmirror/annot.git
	ignore = dirty
[submodule "site-lisp/diminish"]
	path = site-lisp/diminish
	url = https://github.com/emacsmirror/diminish.git
	ignore = dirty
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
	ignore = dirty
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
	ignore = dirty
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
	ignore = dirty
[submodule "site-lisp/fuzzy-el"]
	path = site-lisp/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
	ignore = dirty
[submodule "site-lisp/sr-speedbar"]
	path = site-lisp/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
	ignore = dirty
[submodule "site-lisp/emms"]
	path = site-lisp/emms
	url = http://git.sv.gnu.org/r/emms.git
	ignore = dirty
[submodule "site-lisp/ac-slime"]
	path = site-lisp/ac-slime
	url = https://github.com/purcell/ac-slime.git
	ignore = dirty
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
	ignore = dirty
[submodule "site-lisp/rainbow-mode"]
	path = site-lisp/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
	ignore = dirty
[submodule "site-lisp/theme-tomorrow"]
	path = site-lisp/theme-tomorrow
	url = https://github.com/chriskempson/tomorrow-theme.git
	ignore = dirty
[submodule "site-lisp/sunrise-commander"]
	path = site-lisp/sunrise-commander
	url = https://github.com/escherdragon/sunrise-commander.git
	ignore = dirty
[submodule "site-lisp/bitlbee"]
	path = site-lisp/bitlbee
	url = https://github.com/emacsmirror/bitlbee.git
	ignore = dirty
[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = https://github.com/defunkt/gist.el.git
	ignore = dirty
[submodule "site-lisp/gh.el"]
	path = site-lisp/gh.el
	url = https://github.com/sigma/gh.el.git
	ignore = dirty
[submodule "site-lisp/pcache"]
	path = site-lisp/pcache
	url = https://github.com/sigma/pcache.git
	ignore = dirty
[submodule "site-lisp/logito"]
	path = site-lisp/logito
	url = https://github.com/sigma/logito.git
	ignore = dirty
[submodule "site-lisp/nodejs-mode"]
	path = site-lisp/nodejs-mode
	url = https://github.com/abicky/nodejs-mode.el.git
	ignore = dirty
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = https://github.com/swank-js/swank-js.git
	ignore = dirty
[submodule "site-lisp/ess"]
	path = site-lisp/ess
	url = https://github.com/emacs-ess/ESS.git
	ignore = dirty
[submodule "site-lisp/haml-mode"]
	path = site-lisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
	ignore = dirty
[submodule "site-lisp/sass-mode"]
	path = site-lisp/sass-mode
	url = https://github.com/nex3/sass-mode.git
	ignore = dirty
[submodule "site-lisp/scss-mode"]
	path = site-lisp/scss-mode
	url = https://github.com/antonj/scss-mode/
	ignore = dirty
[submodule "site-lisp/coffee-mode"]
	path = site-lisp/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
	ignore = dirty
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
	ignore = dirty
[submodule "site-lisp/golden-ratio.el"]
	path = site-lisp/golden-ratio.el
	url = https://github.com/roman/golden-ratio.el.git
	ignore = dirty
